<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>sign_up___tablet</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="sign_up___tablet.css" />
		<script src="sign_up_tablet.js"></script>

	</head>
	<body>
		<div id="content-container" >
			<div id="page_sign_up___tablet_ek1"  nameid="Sign Up - Tablet"  >
				<div  nameid="Sign Up - Tablet"  id="_bg__sign_up___tablet_ek2"  ></div>
				<div  nameid="Background"  id="background"  ></div>

				<div id="sign_up"  nameid="Sign Up"  >
					<div  nameid="Sign Up"  id="_bg__sign_up_ek1"  ></div>

					<div id="buttons" nameid="Buttons">
						<div nameid="Buttons" id="_bg__buttons_ek1"></div>
						<div nameid="Sign In Button" id="sign_in_button">
							Already have an account?<a href="آدرس_صفحه_ورود" style="color: orange; text-decoration: none;"> Sign In</a>
						</div>
	
						<button id="buttons_primary_large_no_icon" nameid="Buttons/Primary/Large/No-icon" component="true">
							<div nameid="Buttons/Primary/Large/No-icon" id="_bg__buttons_primary_large_no_icon_ek1"></div>
							<div nameid="Background" id="background_ek1"></div>
							<div nameid="Text" id="text">
								Create an account
							</div>
						</button>
					</div>


					<div id="input_fields"  nameid="Input Fields"  >
						<div  nameid="Input Fields"  id="_bg__input_fields_ek1"  ></div>

						<div id="input_fields_icon_input_large"  nameid="Input-fields/Icon-input/Large"  component="true"  >
							<div  nameid="Input-fields/Icon-input/Large"  id="_bg__input_fields_icon_input_large_ek1"  ></div>

							<div id="input_field" nameid="Input Field">
								<div nameid="Input Field" id="_bg__input_field_ek1"></div>
								<img src="skins/line.png" nameid="Line" id="line" />
								<div nameid="Placeholder" id="placeholder">
									<input type="password" id="placeholder" nameid="Placeholder" placeholder="******">
								</div>
								
								<div nameid="Title" id="title">
									Password
								</div>
	
							</div>

							<div id="icons_icon_fill_64px"  nameid="Icons/Icon-fill/64px"  component="true"  >
								<div  nameid="Icons/Icon-fill/64px"  id="_bg__icons_icon_fill_64px_ek1"  ></div>
								<div  nameid="Background"  id="background_ek2"  ></div>

								<div id="icons_24px_key"  nameid="Icons/24px/Key"  component="true"  >
									<div  nameid="Icons/24px/Key"  id="_bg__icons_24px_key_ek1"  ></div>
									<div  nameid="Boudning Box"  id="boudning_box"  ></div>
									<img src="skins/icon.png"  nameid="Icon"  id="icon" />

								</div>

							</div>

						</div>

						<div id="input_fields_icon_input_large_ek2"  nameid="Input-fields/Icon-input/Large"  component="true"  >
							<div  nameid="Input-fields/Icon-input/Large"  id="_bg__input_fields_icon_input_large_ek3"  ></div>

							<!-- <div id="input_field_ek2"  nameid="Input Field"  >
								<div  nameid="Input Field"  id="_bg__input_field_ek3"  ></div>
								<img src="skins/line_ek1.png"  nameid="Line"  id="line_ek1" />
								<div  nameid="Placeholder"  id="placeholder_ek1" >
									<input type="email" id="placeholder_ek1" nameid="Placeholder" placeholder="markclarke@gmail.com">
								</div>
								<div  nameid="Title"  id="title_ek1" >
									Email address
								</div>

							</div> -->

							<div id="input_field_ek2" nameid="Input Field">
								<div nameid="Input Field" id="_bg__input_field_ek3"></div>
								<img src="skins/line_ek1.png" nameid="Line" id="line_ek1" />
								<div nameid="Placeholder" id="placeholder_ek1">
									<input type="email" id="placeholder_ek1" nameid="Placeholder" placeholder="markclarke@gmail.com">
								</div>
								<div nameid="Title" id="title_ek1">
									Email address
								</div>
	
							</div>

							<div id="icons_icon_fill_64px_ek2"  nameid="Icons/Icon-fill/64px"  component="true"  >
								<div  nameid="Icons/Icon-fill/64px"  id="_bg__icons_icon_fill_64px_ek3"  ></div>
								<div  nameid="Background"  id="background_ek3"  ></div>

								<div id="icons_24px_mail"  nameid="Icons/24px/Mail"  component="true"  >
									<div  nameid="Icons/24px/Mail"  id="_bg__icons_24px_mail_ek1"  ></div>
									<div  nameid="Boudning Box"  id="boudning_box_ek1"  ></div>
									<img src="skins/icon_ek1.png"  nameid="Icon"  id="icon_ek1" />
								</div>

							</div>

						</div>

						<div id="input_fields_icon_input_large_ek4"  nameid="Input-fields/Icon-input/Large"  component="true"  >
							<div  nameid="Input-fields/Icon-input/Large"  id="_bg__input_fields_icon_input_large_ek5"  ></div>

							<div id="input_field_ek4" nameid="Input Field">
								<div nameid="Input Field" id="_bg__input_field_ek5"></div>
								<img src="skins/line_ek2.png" nameid="Line" id="line_ek2" />
								<div nameid="Placeholder" id="placeholder_ek2">
									<input type="text" id="placeholder_ek2" nameid="Placeholder" placeholder="Mark Clarke">
								</div>
	
								<div nameid="Title" id="title_ek2">
									Full Name
								</div>
	
							</div>

							<div id="icons_icon_fill_64px_ek4"  nameid="Icons/Icon-fill/64px"  component="true"  >
								<div  nameid="Icons/Icon-fill/64px"  id="_bg__icons_icon_fill_64px_ek5"  ></div>
								<div  nameid="Background"  id="background_ek4"  ></div>

								<div id="icons_24px_profile"  nameid="Icons/24px/Profile"  component="true"  >
									<div  nameid="Icons/24px/Profile"  id="_bg__icons_24px_profile_ek1"  ></div>
									<div  nameid="Boudning Box"  id="boudning_box_ek2"  ></div>
									<img src="skins/icon_ek2.png"  nameid="Icon"  id="icon_ek2" />

								</div>

							</div>

						</div>

					</div>

					<div id="text_content"  nameid="Text Content"  >
						<div  nameid="Text Content"  id="_bg__text_content_ek1"  ></div>
						<div  nameid="Body Text"  id="body_text" >
							Plese create an account to continue using our service
						</div>
						<div  nameid="Title"  id="title_ek3" >
							Create an account
						</div>

					</div>

				</div>
				<img src="skins/image.png"  nameid="Image"  id="image" />

			</div>
		</div>
	</body>
</html>