
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 768px; width: 768px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_sign_up___tablet_ek1 {
	top: 0px;
	left: 0px;
	width: 768px;
	height: 1024px;
}

#_bg__sign_up___tablet_ek2 {
	top: 0px;
	left: 0px;
	width: 768px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#background {
	top: 0px;
	left: 0px;
	width: 768px;
	height: 1024px;
	background:rgba(255,255,255,1);
}

#sign_up {
	top: 372px;
	left: 48px;
	width: 672px;
	height: 604px;
}

#_bg__sign_up_ek1 {
	top: -372px;
	left: -48px;
	width: 672px;
	height: 604px;
	background:#;
}

#buttons {
	top: 492px;
	left: 0px;
	width: 672px;
	height: 112px;
}

#_bg__buttons_ek1 {
	top: -864px;
	left: -48px;
	width: 672px;
	height: 112px;
	background:#;
}


#sign_in_button {
	top: 88px;
	left: -3px;
	width: 679px;
	height: 28.6px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#626264;
}

#buttons_primary_large_no_icon {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 64px;
}

#_bg__buttons_primary_large_no_icon_ek1 {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 64px;
	background:#;
}


#background_ek1 {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 64px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background:rgba(80,62,157,1);
}


#text {
	top: 16px;
	left: 34.33px;
	width: 604.33px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#F7FAFC;
}

#input_fields {
	top: 132px;
	left: 0px;
	width: 672px;
	height: 312px;
}

#_bg__input_fields_ek1 {
	top: -504px;
	left: -48px;
	width: 672px;
	height: 312px;
	background:#;
}

#input_fields_icon_input_large {
	top: 240px;
	left: 0px;
	width: 672px;
	height: 72px;
}

#_bg__input_fields_icon_input_large_ek1 {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 72px;
	background:#;
}

#input_field {
	top: 2px;
	left: 88px;
	width: 584px;
	height: 70px;
}

#_bg__input_field_ek1 {
	top: -2px;
	left: -88px;
	width: 584px;
	height: 70px;
	background:#;
}


#line {
	top: 68px;
	left: 15px;
	width: 569.33px;
	height: 2px;
}


#placeholder {
	top: 28px;
	left: 0px;
	width: 473px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#626264;
}


#title {
	top: 0px;
	left: 0px;
	width: 468.2px;
	height: 27.2px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	line-height: 24px;
	margin-top: -4px;
	height: 39.2px;
	letter-spacing: 1px;
	color:#172135;
}

#icons_icon_fill_64px {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
}

#_bg__icons_icon_fill_64px_ek1 {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	background:#;
}


#background_ek2 {
	opacity:0.10000000149012;
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	background:rgba(80,62,157,0.1);
}

#icons_24px_key {
	top: 20px;
	left: 20px;
	width: 24px;
	height: 24px;
}

#_bg__icons_24px_key_ek1 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	background:#;
}


#boudning_box {
	top: px;
	left: px;
	width: 24px;
	height: 24px;
	background:rgba(255,255,255,0);
}


#icon {
	top: px;
	left: px;
	width: 24px;
	height: 24px;
}

#input_fields_icon_input_large_ek2 {
	top: 120px;
	left: 0px;
	width: 672px;
	height: 72px;
}

#_bg__input_fields_icon_input_large_ek3 {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 72px;
	background:#;
}

#input_field_ek2 {
	top: 2px;
	left: 88px;
	width: 584px;
	height: 70px;
}

#_bg__input_field_ek3 {
	top: -2px;
	left: -88px;
	width: 584px;
	height: 70px;
	background:#;
}


#line_ek1 {
	top: 68px;
	left: 15px;
	width: 569.33px;
	height: 2px;
}


#placeholder_ek1 {
	top: 28px;
	left: 0px;
	width: 473px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#626264;
}


#title_ek1 {
	top: 0px;
	left: 0px;
	width: 468.2px;
	height: 27.2px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	line-height: 24px;
	margin-top: -4px;
	height: 39.2px;
	letter-spacing: 1px;
	color:#172135;
}

#icons_icon_fill_64px_ek2 {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
}

#_bg__icons_icon_fill_64px_ek3 {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	background:#;
}


#background_ek3 {
	opacity:0.10000000149012;
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	background:rgba(80,62,157,0.1);
}

#icons_24px_mail {
	top: 20px;
	left: 20px;
	width: 24px;
	height: 24px;
}

#_bg__icons_24px_mail_ek1 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	background:#;
}


#boudning_box_ek1 {
	top: px;
	left: px;
	width: 24px;
	height: 24px;
	background:rgba(255,255,255,0);
}


#icon_ek1 {
	top: 3px;
	left: 0px;
	width: 24px;
	height: 19px;
}

#input_fields_icon_input_large_ek4 {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 72px;
}

#_bg__input_fields_icon_input_large_ek5 {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 72px;
	background:#;
}

#input_field_ek4 {
	top: 2px;
	left: 88px;
	width: 584px;
	height: 70px;
}

#_bg__input_field_ek5 {
	top: -2px;
	left: -88px;
	width: 584px;
	height: 70px;
	background:#;
}


#line_ek2 {
	top: 68px;
	left: 15px;
	width: 569.33px;
	height: 2px;
}


#placeholder_ek2 {
	top: 28px;
	left: 0px;
	width: 473px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#626264;
}


#title_ek2 {
	top: 0px;
	left: 0px;
	width: 468.2px;
	height: 27.2px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	line-height: 24px;
	margin-top: -4px;
	height: 39.2px;
	letter-spacing: 1px;
	color:#172135;
}

#icons_icon_fill_64px_ek4 {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
}

#_bg__icons_icon_fill_64px_ek5 {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	background:#;
}


#background_ek4 {
	opacity:0.10000000149012;
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	background:rgba(80,62,157,0.1);
}

#icons_24px_profile {
	top: 20px;
	left: 20px;
	width: 24px;
	height: 24px;
}

#_bg__icons_24px_profile_ek1 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	background:#;
}


#boudning_box_ek2 {
	top: px;
	left: px;
	width: 24px;
	height: 24px;
	background:rgba(255,255,255,0);
}


#icon_ek2 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#text_content {
	top: 0px;
	left: 0px;
	width: 672px;
	height: 84px;
}

#_bg__text_content_ek1 {
	top: -372px;
	left: -48px;
	width: 672px;
	height: 84px;
	background:#;
}


#body_text {
	top: 52px;
	left: 0px;
	width: 689px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#626264;
}


#title_ek3 {
	top: 0px;
	left: 0px;
	width: 696.2px;
	height: 49.2px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	line-height: 40px;
	color:#172135;
}


#image {
	top: 0px;
	left: 0px;
	width: 768px;
	height: 324px;
}