<!DOCTYPE html>
<html lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<title>login___1___desktop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="StyleSheet" href="login___1___desktop.css" />
	<script src="login.js"></script>

</head>

<body>
	<div id="content-container">
		<div id="page_login___1___desktop_ek1" nameid="Login - 1 - Desktop">
			<div nameid="Login - 1 - Desktop" id="_bg__login___1___desktop_ek2"></div>
			<div nameid="Background" id="background"></div>

			<div id="right_side" nameid="Right Side">
				<div nameid="Right Side" id="_bg__right_side_ek1"></div>

				<div id="buttons" nameid="Buttons">
					<div nameid="Buttons" id="_bg__buttons_ek1"></div>

					<button id="buttons_primary_large_no_icon" nameid="Buttons/Primary/Large/No-icon" component="true"
						style="width: 100%; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex; border: none;">
						<div nameid="Buttons/Primary/Large/No-icon" id="_bg__buttons_primary_large_no_icon_ek1"
							style="width: 576px; height: 64px; background: #503E9D; border-radius: 12px"></div>
						<div nameid="Background" id="background_ek1"></div>
						<div nameid="Text" id="text"
							style="width: 512px; text-align: center; color: #F7FAFC; font-size: 20px; font-family: Open Sans; font-weight: 700; line-height: 32px; word-wrap: break-word">
							Create an account
						</div>
					</button>



					<div id="buttons_tertiary_text" nameid="Buttons/Tertiary/Text" component="true">
						<div nameid="Buttons/Tertiary/Text" id="_bg__buttons_tertiary_text_ek1"></div>
						<div nameid="Text" id="text_ek1">
							<a href="آدرس_صفحه_ورود" style="color: #626264; text-decoration: none;">Forgot password?</a>
						</div>
					</div>

					<button id="sign_in_button" nameid="Sign In Button" style="position: absolute; top: 598; right: 144; bottom: 362; left: 720; background:rgba(80, 62, 157, 0.10); border: none;">
						<div nameid="Text" id="text_ek2">
							Sign in
						</div>
					</button>

				</div>

				<div id="input_fields" nameid="Input Fields">
					<div nameid="Input Fields" id="_bg__input_fields_ek1"></div>

					<div id="input_fields_icon_input_large" nameid="Input-fields/Icon-input/Large" component="true">
						<div nameid="Input-fields/Icon-input/Large" id="_bg__input_fields_icon_input_large_ek1"></div>

						<div id="input_field" nameid="Input Field">
							<div nameid="Input Field" id="_bg__input_field_ek1"></div>
							<img src="skins/line.png" nameid="Line" id="line" />
							<div nameid="Placeholder" id="placeholder">
								<input type="password" id="placeholder" nameid="Placeholder" placeholder="******">
							</div>

							<div nameid="Title" id="title">
								Password
							</div>

						</div>

						<div id="icons_icon_fill_64px" nameid="Icons/Icon-fill/64px" component="true">
							<div nameid="Icons/Icon-fill/64px" id="_bg__icons_icon_fill_64px_ek1"></div>
							<div nameid="Background" id="background_ek3"></div>

							<div id="icons_24px_key" nameid="Icons/24px/Key" component="true">
								<div nameid="Icons/24px/Key" id="_bg__icons_24px_key_ek1"></div>
								<div nameid="Boudning Box" id="boudning_box"></div>
								<img src="skins/icon.png" nameid="Icon" id="icon" />

							</div>

						</div>

					</div>

					<div id="input_fields_icon_input_large_ek2" nameid="Input-fields/Icon-input/Large" component="true">
						<div nameid="Input-fields/Icon-input/Large" id="_bg__input_fields_icon_input_large_ek3"></div>

						<div id="input_field_ek2" nameid="Input Field">
							<div nameid="Input Field" id="_bg__input_field_ek3"></div>
							<img src="skins/line_ek1.png" nameid="Line" id="line_ek1" />
							<div nameid="Placeholder" id="placeholder_ek1" >
								<input type="email" id="placeholder_ek1" nameid="Placeholder"
									placeholder="markclarke@gmail.com">
							</div>
							<div nameid="Title" id="title_ek1">
								Email address
							</div>

						</div>

						<div id="icons_icon_fill_64px_ek2" nameid="Icons/Icon-fill/64px" component="true">
							<div nameid="Icons/Icon-fill/64px" id="_bg__icons_icon_fill_64px_ek3"></div>
							<div nameid="Background" id="background_ek4"></div>

							<div id="icons_24px_mail" nameid="Icons/24px/Mail" component="true">
								<div nameid="Icons/24px/Mail" id="_bg__icons_24px_mail_ek1"></div>
								<div nameid="Boudning Box" id="boudning_box_ek1"></div>
								<img src="skins/icon_ek1.png" nameid="Icon" id="icon_ek1" />

							</div>

						</div>

					</div>

				</div>

				<div id="text_content" nameid="Text Content">
					<div nameid="Text Content" id="_bg__text_content_ek1"></div>
					<div nameid="Body Text" id="body_text">
						Sign in to your account to continue
					</div>
					<div nameid="Title" id="title_ek2">
						Welcome!
					</div>

				</div>

			</div>

			<div id="left_side" nameid="Left Side">
				<div nameid="Left Side" id="_bg__left_side_ek1"></div>
				<img src="skins/image.png" nameid="Image" id="image" />

				<div id="logo_light" nameid="Logo/Light" component="true">
					<div nameid="Logo/Light" id="_bg__logo_light_ek1"></div>
					<div nameid="Text" id="text_ek3">
						Nibble
					</div>


				</div>

			</div>

		</div>
	</div>
</body>

</html>