
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_login___1___desktop_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__login___1___desktop_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#background {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}

#right_side {
	top: 226px;
	left: 720px;
	width: 576px;
	height: 572px;
}

#_bg__right_side_ek1 {
	top: -226px;
	left: -720px;
	width: 576px;
	height: 572px;
	background:#;
}

#buttons {
	top: 372px;
	left: 0px;
	width: 576px;
	height: 200px;
}

#_bg__buttons_ek1 {
	top: -598px;
	left: -720px;
	width: 576px;
	height: 200px;
	background:#;
}

#buttons_primary_large_no_icon {
	top: 136px;
	left: 0px;
	width: 576px;
	height: 64px;
}

#_bg__buttons_primary_large_no_icon_ek1 {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 64px;
	background:#;
}


#background_ek1 {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 64px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background:rgba(80,62,157,1);
}


#text {
	top: 16px;
	left: 29px;
	width: 519px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#F7FAFC;
}

#buttons_tertiary_text {
	top: 88px;
	left: 222px;
	width: 132px;
	height: 24px;
}

#_bg__buttons_tertiary_text_ek1 {
	top: 0px;
	left: 0px;
	width: 132px;
	height: 24px;
	background:#;
}


#text_ek1 {
	top: 0px;
	left: -4.52px;
	width: 139px;
	height: 28.6px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#626264;
}

#sign_in_button {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 64px;
	background: #;
}

#_bg__sign_in_button_ek1 {
	top: -598px;
	left: -720px;
	width: 576px;
	height: 64px;
	background: #;
}


#background_ek2 {
	opacity:0.10000000149012;
	top: 0px;
	left: 0px;
	width: 576px;
	height: 64px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background:rgba(80,62,157,0.1);
}


#text_ek2 {
	top: 16px;
	left: 29px;
	width: 519px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#503E9D;
}

#input_fields {
	top: 132px;
	left: 0px;
	width: 576px;
	height: 192px;
}

#_bg__input_fields_ek1 {
	top: -358px;
	left: -720px;
	width: 576px;
	height: 192px;
	background:#;
}

#input_fields_icon_input_large {
	top: 120px;
	left: 0px;
	width: 576px;
	height: 72px;
}

#_bg__input_fields_icon_input_large_ek1 {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 72px;
	background:#;
}

#input_field {
	top: 2px;
	left: 88px;
	width: 488px;
	height: 70px;
}

#_bg__input_field_ek1 {
	top: -2px;
	left: -88px;
	width: 488px;
	height: 70px;
	background:#;
}


#line {
	top: 68px;
	left: 0px;
	width: 488px;
	height: 2px;
}


#placeholder {
	top: 28px;
	left: 0px;
	width: 473px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#626264;
}


#title {
	top: 0px;
	left: 0px;
	width: 468.2px;
	height: 27.2px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	line-height: 24px;
	margin-top: -4px;
	height: 39.2px;
	letter-spacing: 1px;
	color:#172135;
}

#icons_icon_fill_64px {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
}

#_bg__icons_icon_fill_64px_ek1 {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	background:#;
}


#background_ek3 {
	opacity:0.10000000149012;
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	background:rgba(80,62,157,0.1);
}

#icons_24px_key {
	top: 20px;
	left: 20px;
	width: 24px;
	height: 24px;
}

#_bg__icons_24px_key_ek1 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	background:#;
}


#boudning_box {
	top: px;
	left: px;
	width: 24px;
	height: 24px;
	background:rgba(255,255,255,0);
}


#icon {
	top: px;
	left: px;
	width: 24px;
	height: 24px;
}

#input_fields_icon_input_large_ek2 {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 72px;
}

#_bg__input_fields_icon_input_large_ek3 {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 72px;
	background:#;
}

#input_field_ek2 {
	top: 2px;
	left: 88px;
	width: 488px;
	height: 70px;
}

#_bg__input_field_ek3 {
	top: -2px;
	left: -88px;
	width: 488px;
	height: 70px;
	background:#;
}


#line_ek1 {
	top: 68px;
	left: 0px;
	width: 488px;
	height: 2px;
}


#placeholder_ek1 {
	top: 28px;
	left: 0px;
	width: 473px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#626264;
}


#title_ek1 {
	top: 0px;
	left: 0px;
	width: 468.2px;
	height: 27.2px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	line-height: 24px;
	margin-top: -4px;
	height: 39.2px;
	letter-spacing: 1px;
	color:#172135;
}

#icons_icon_fill_64px_ek2 {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
}

#_bg__icons_icon_fill_64px_ek3 {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	background:#;
}


#background_ek4 {
	opacity:0.10000000149012;
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	background:rgba(80,62,157,0.1);
}

#icons_24px_mail {
	top: 20px;
	left: 20px;
	width: 24px;
	height: 24px;
}

#_bg__icons_24px_mail_ek1 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	background:#;
}


#boudning_box_ek1 {
	top: px;
	left: px;
	width: 24px;
	height: 24px;
	background:rgba(255,255,255,0);
}


#icon_ek1 {
	top: 3px;
	left: 0px;
	width: 24px;
	height: 19px;
}

#text_content {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 84px;
}

#_bg__text_content_ek1 {
	top: -226px;
	left: -720px;
	width: 576px;
	height: 84px;
	background:#;
}


#body_text {
	top: 52px;
	left: 0px;
	width: 593px;
	height: 38px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
	margin-top: -4px;
	height: 58px;
	color:#626264;
}


#title_ek2 {
	top: 0px;
	left: 0px;
	width: 600.2px;
	height: 49.2px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	line-height: 40px;
	color:#172135;
}

#left_side {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 1024px;
}

#_bg__left_side_ek1 {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 1024px;
	background:#;
}


#image {
	top: 0px;
	left: 0px;
	width: 576px;
	height: 1024px;
}

#logo_light {
	top: 480px;
	left: 181px;
	width: 215px;
	height: 64px;
}

#_bg__logo_light_ek1 {
	top: 0px;
	left: 0px;
	width: 215px;
	height: 64px;
	background:#;
}


#text_ek3 {
	top: 8px;
	left: 96px;
	width: 145.6px;
	height: 58.6px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	line-height: 48px;
	color:#FFFFFF;
}

#icon_ek2 {
	top: 64px;
	left: 0px;
	width: 80px;
	height: 64px;
	transform:rotate(180deg);
}

#_bg__icon_ek3 {
	top: -64px;
	left: 0px;
	width: 80px;
	height: 64px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:#;
}


#base {
	top: 0px;
	left: 0px;
	width: 80px;
	height: 63.97px;
}

#meat {
	top: -47px;
	left: 6px;
	width: 68.24px;
	height: 18.87px;
	transform:rotate(180deg);
}

#_bg__meat_ek1 {
	top: -17px;
	left: -6px;
	width: 68.24px;
	height: 18.87px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:#;
}


#meat_ek2 {
	top: 0px;
	left: 0px;
	width: 68.24px;
	height: 18.87px;
}


#color {
	top: 19px;
	left: 0px;
	width: 68.24px;
	height: 18.87px;
}


#specular {
	top: 0px;
	left: 0px;
	width: 68.24px;
	height: 18.87px;
}

#cheese {
	top: -61px;
	left: 0px;
	width: 80px;
	height: 25.09px;
	transform:rotate(180deg);
}

#_bg__cheese_ek1 {
	top: -3px;
	left: 0px;
	width: 80px;
	height: 25.09px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:#;
}


#cheese_ek2 {
	top: 0px;
	left: 0px;
	width: 80px;
	height: 25.09px;
}


#color_ek1 {
	top: 25px;
	left: 0px;
	width: 80px;
	height: 25.09px;
}


#specular_ek1 {
	top: 0px;
	left: 0px;
	width: 80px;
	height: 25.09px;
}

#tomatos {
	top: -58px;
	left: 5px;
	width: 71.74px;
	height: 20.04px;
	transform:rotate(180deg);
}

#_bg__tomatos_ek1 {
	top: -6px;
	left: -5px;
	width: 71.74px;
	height: 20.04px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:#;
}


#tomatos_ek2 {
	top: 0px;
	left: 0px;
	width: 71.74px;
	height: 20.04px;
}


#color_ek2 {
	top: 20px;
	left: 0px;
	width: 71.74px;
	height: 20.04px;
}

#bread {
	top: -1px;
	left: 5px;
	width: 69.15px;
	height: 63.51px;
	transform:rotate(180deg);
}

#_bg__bread_ek1 {
	top: -63px;
	left: -5px;
	width: 69.15px;
	height: 63.51px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:#;
}


#bread_ek2 {
	top: 0px;
	left: 0px;
	width: 69.15px;
	height: 63.51px;
}


#color_ek3 {
	top: -63px;
	left: 0px;
	width: 69.15px;
	height: 63.51px;
}

#seeds {
	top: -43px;
	left: 15px;
	width: 50.83px;
	height: 21.34px;
	transform:rotate(180deg);
}

#_bg__seeds_ek1 {
	top: -21px;
	left: -15px;
	width: 50.83px;
	height: 21.34px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:#;
}


#seeds_ek2 {
	top: 0px;
	left: 0px;
	width: 50.83px;
	height: 21.34px;
}


#color_ek4 {
	top: -21px;
	left: 0px;
	width: 50.83px;
	height: 21.34px;
}


#specular_ek2 {
	top: 0px;
	left: 0px;
	width: 50.83px;
	height: 21.34px;
}


