<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>pop_up</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="pop_up.css" />
		<script src="pop_up.js"></script>

	</head>
	<body>
		<div id="content-container" >
			<div id="page_pop_up_ek1"  nameid="Pop Up"  >
				<div  nameid="Pop Up"  id="_bg__pop_up_ek2"  ></div>

				<div id="pop_up_container"  nameid="Pop Up Container"  >
					<div  nameid="Pop Up Container"  id="_bg__pop_up_container_ek1"  ></div>
					<div  nameid="Background"  id="background"  ></div>

					<div id="buttons"  nameid="Buttons"  >
						<div  nameid="Buttons"  id="_bg__buttons_ek1"  ></div>

						<div id="send_again_button"  nameid="Send Again Button"  >
							<button id="send_again_button" nameid="Send Again Button" style="width: 100%; height: 100%; background: #F7F7F7; border-radius: 12px">
							<div  nameid="Send Again Button"  id="_bg__send_again_button_ek1"  ></div>
							<div  nameid="Background"  id="background_ek1"  ></div>
							<div  nameid="Text"  id="text" >
								Send again
							</div>
							</button>
						</div>

						<div id="buttons_primary_large_no_icon"  nameid="Buttons/Primary/Large/No-icon"  component="true"  >
							<button id="buttons_primary_large_no_icon" nameid="Buttons/Primary/Large/No-icon" component="true" style="width: 100%; height: 100%; background: #503E9D; border-radius: 12px">
							<div  nameid="Buttons/Primary/Large/No-icon"  id="_bg__buttons_primary_large_no_icon_ek1"  ></div>
							<div  nameid="Background"  id="background_ek2"></div>
							<div  nameid="Text"  id="text_ek1" >
								Got it
							</div>
							</button>
						</div>

					</div>

					<div id="text_content"  nameid="Text Content"  >
						<div  nameid="Text Content"  id="_bg__text_content_ek1"  ></div>
						<div  nameid="Body Text"  id="body_text" >
							We have just sent an email with a password reset link to <a href="mailto:markclarke@gmail.com" target="_blank">markclarke@gmail.com</a>.
						</div>
						<div  nameid="Title"  id="title" >
							Reset email sent
						</div>

					</div>

					<div id="icons_icon_fill_64px_24px_icon_inside"  nameid="Icons/Icon-fill/64px/24px-icon-inside"  component="true"  >
						<div  nameid="Icons/Icon-fill/64px/24px-icon-inside"  id="_bg__icons_icon_fill_64px_24px_icon_inside_ek1"  ></div>
						<div  nameid="Background"  id="background_ek3"  ></div>

						<div id="icons_24px_mail"  nameid="Icons/24px/Mail"  component="true"  >
							<div  nameid="Icons/24px/Mail"  id="_bg__icons_24px_mail_ek1"  ></div>
							<div  nameid="Boudning Box"  id="boudning_box"  ></div>
							<img src="skins/icon.png"  nameid="Icon"  id="icon" />

						</div>

					</div>

					<div id="icon_16px_close" nameid="Icon/16px/Close" component="true">
						<div nameid="Icon/16px/Close" id="_bg__icon_16px_close_ek1"></div>
						<div nameid="Bounding Box" id="bounding_box"></div>
						<img src="skins/icon_ek1.png" nameid="Icon" id="icon_ek1" onclick="closeWindow()" />
					</div>
				</div>

			</div>
		</div>
	</body>
</html>