{% extends 'base.html' %}
{% block content %}
    <div class="height-100">
  <div class="container-fluid">
    <div class="row">
      <h3 class="p-3 fw-bold">Categories</h3>
        {% for categ in categories %}
            <div class="col-auto">
        <a class="card p-2" href="#">
          <div class="d-flex flex-column mb-1 align-items-center">
              <img src="{{ categ.icon.url }}" width="32px" alt="">
            <span class="p-2 text-dark fw-bold">{{ categ.title }}</span>
          </div>
        </a>
      </div>
        {% endfor %}
    </div>
    <div class="row">
      <p class="col-10 fs-3 fw-bold">Featured Restaurants</p>
      <a href="#" class="col-2 text-indigo text-decoration-underline"
        >See All <i class="fas fa-angle-right"></i
      ></a>
    {% for restaurant in restaurant_list %}

        <div class="col-md-3 p-2">
        <a class="card p-2 bg-black-25 text-dark rounded-3" href="{% url 'restaurant_detail' pk=restaurant.pk %}">
          <div class="d-flex flex-row mb-3 justify-content-start">
            <img src="{{ restaurant.image.url }}"  width="75px" height="75px"/>
            <div class="d-flex flex-column ml-2 p-2">
              <span class="fw-bold">{{ restaurant.name }}</span>
              <div class="d-flex flex-row justify-content-around">
                <span class="ratings"
                  ><i class="fa fa-star text-warning"></i> {{ restaurant.rating }}</span
                >
              </div>
              <div class="text-muted">{{ restaurant.category.title }}</div>
            </div>
          </div>
        </a>
      </div>

        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}