{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
      <p class="col-10 fs-3 fw-bold">Restaurants</p>
    {% for restaurant in restaurant_list %}

        <div class="col-md-3 p-2">
        <a class="card p-2 bg-black-25 text-dark rounded-3" href="{% url 'restaurant_detail' pk=restaurant.pk %}">
          <div class="d-flex flex-row mb-3 justify-content-start">
            <img src="{{ restaurant.image.url }}"  width="75px" height="75px"/>
            <div class="d-flex flex-column ml-2 p-2">
              <span class="fw-bold">{{ restaurant.name }}</span>
              <div class="d-flex flex-row justify-content-around">
                <span class="ratings"
                  ><i class="fa fa-star text-warning"></i> {{ restaurant.rating }}</span
                >
              </div>
              <div class="text-muted">{{ restaurant.category.title }}</div>
            </div>
          </div>
        </a>
      </div>

        {% endfor %}
    </div>
{% endblock  %}