<!DOCTYPE html>
<html lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<title>sign_up___desktop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="StyleSheet" href="sign_up___desktop.css" />
	<script src="sign_up___desktop.js"></script>

</head>

<body>
	<div>
		<div id="page_sign_up___desktop_ek1" nameid="Sign Up - Desktop">
			<div nameid="Sign Up - Desktop" id="_bg__sign_up___desktop_ek2"></div>
			<div nameid="Background" id="background"></div>

			<div id="right_side" nameid="Right Side">
				<div nameid="Right Side" id="_bg__right_side_ek1"></div>

				<div id="buttons" nameid="Buttons">
					<div nameid="Buttons" id="_bg__buttons_ek1"></div>
					<div nameid="Sign In Button" id="sign_in_button">
						Already have an account?<a href="آدرس_صفحه_ورود" style="color: orange; text-decoration: none;"> Sign In</a>
					</div>

					<!-- <div id="buttons_primary_large_no_icon" nameid="Buttons/Primary/Large/No-icon" component="true">
						<div nameid="Buttons/Primary/Large/No-icon" id="_bg__buttons_primary_large_no_icon_ek1"></div>
						<div nameid="Background" id="background_ek1"></div>
						<div nameid="Text" id="text">
							Create an account
						</div>

					</div> -->

					<button id="buttons_primary_large_no_icon" nameid="Buttons/Primary/Large/No-icon" component="true">
						<div nameid="Buttons/Primary/Large/No-icon" id="_bg__buttons_primary_large_no_icon_ek1"></div>
						<div nameid="Background" id="background_ek1"></div>
						<div nameid="Text" id="text">
							Create an account
						</div>
					</button>
<!-- 
					<button id="buttons_primary_large_no_icon" nameid="Buttons/Primary/Large/No-icon" component="true">
						Create an account
					</button> -->

				</div>


				<div id="input_fields" nameid="Input Fields">
					<div nameid="Input Fields" id="_bg__input_fields_ek1"></div>

					<div id="input_fields_icon_input_large"  nameid="Input-fields/Icon-input/Large"  component="true"  >
						<div  nameid="Input-fields/Icon-input/Large"  id="_bg__input_fields_icon_input_large_ek1"  ></div>

						<div id="input_field" nameid="Input Field">
							<div nameid="Input Field" id="_bg__input_field_ek1"></div>
							<img src="skins/line.png" nameid="Line" id="line" />
							<div nameid="Placeholder" id="placeholder">
								<input type="password" id="placeholder" nameid="Placeholder" placeholder="******">
							</div>
							
							<div nameid="Title" id="title">
								Password
							</div>

						</div>

						<div id="icons_icon_fill_64px" nameid="Icons/Icon-fill/64px" component="true">
							<div nameid="Icons/Icon-fill/64px" id="_bg__icons_icon_fill_64px_ek1"></div>
							<div nameid="Background" id="background_ek2"></div>

							<div id="icons_24px_key" nameid="Icons/24px/Key" component="true">
								<div nameid="Icons/24px/Key" id="_bg__icons_24px_key_ek1"></div>
								<div nameid="Boudning Box" id="boudning_box"></div>
								<img src="skins/icon.png" nameid="Icon" id="icon" />

							</div>

						</div>

					</div>

					<div id="input_fields_icon_input_large_ek2" nameid="Input-fields/Icon-input/Large" component="true">
						<div nameid="Input-fields/Icon-input/Large" id="_bg__input_fields_icon_input_large_ek3"></div>

						<div id="input_field_ek2" nameid="Input Field">
							<div nameid="Input Field" id="_bg__input_field_ek3"></div>
							<img src="skins/line_ek1.png" nameid="Line" id="line_ek1" />
							<div nameid="Placeholder" id="placeholder_ek1">
								<input type="email" id="placeholder_ek1" nameid="Placeholder" placeholder="markclarke@gmail.com" style="width: 100%; color: #626264; font-size: 20px; font-family: Open Sans; font-weight: 400; line-height: 32px; word-wrap: break-word">
							</div>
							<div nameid="Title" id="title_ek1">
								Email address
							</div>

						</div>

						<div id="icons_icon_fill_64px_ek2" nameid="Icons/Icon-fill/64px" component="true">
							<div nameid="Icons/Icon-fill/64px" id="_bg__icons_icon_fill_64px_ek3"></div>
							<div nameid="Background" id="background_ek3"></div>

							<div id="icons_24px_mail" nameid="Icons/24px/Mail" component="true">
								<div nameid="Icons/24px/Mail" id="_bg__icons_24px_mail_ek1"></div>
								<div nameid="Boudning Box" id="boudning_box_ek1"></div>
								<img src="skins/icon_ek1.png" nameid="Icon" id="icon_ek1" />

							</div>

						</div>

					</div>

					<div id="input_fields_icon_input_large_ek4" nameid="Input-fields/Icon-input/Large" component="true">
						<div nameid="Input-fields/Icon-input/Large" id="_bg__input_fields_icon_input_large_ek5"></div>

						<div id="input_field_ek4" nameid="Input Field">
							<div nameid="Input Field" id="_bg__input_field_ek5"></div>
							<img src="skins/line_ek2.png" nameid="Line" id="line_ek2" />
							<div nameid="Placeholder" id="placeholder_ek2">
								<input type="text" id="placeholder_ek2" nameid="Placeholder" placeholder="Mark Clarke" style="width: 100%; color: #626264; font-size: 20px; font-family: Open Sans; font-weight: 400; line-height: 32px; word-wrap: break-word">
							</div>

							<div nameid="Title" id="title_ek2">
								Full Name
							</div>

						</div>

						<div id="icons_icon_fill_64px_ek4" nameid="Icons/Icon-fill/64px" component="true">
							<div nameid="Icons/Icon-fill/64px" id="_bg__icons_icon_fill_64px_ek5"></div>
							<div nameid="Background" id="background_ek4"></div>

							<div id="icons_24px_profile" nameid="Icons/24px/Profile" component="true">
								<div nameid="Icons/24px/Profile" id="_bg__icons_24px_profile_ek1"></div>
								<div nameid="Boudning Box" id="boudning_box_ek2"></div>
								<img src="skins/icon_ek2.png" nameid="Icon" id="icon_ek2" />

							</div>

						</div>

					</div>

				</div>

				<div id="text_content" nameid="Text Content">
					<div nameid="Text Content" id="_bg__text_content_ek1"></div>
					<div nameid="Body Text" id="body_text">
						Plese create an account to continue using our service
					</div>
					<div nameid="Title" id="title_ek3">
						Create an account
					</div>

				</div>

			</div>

			<div id="left_side" nameid="Left Side">
				<div nameid="Left Side" id="_bg__left_side_ek1"></div>
				<img src="skins/image.png" nameid="Image" id="image" />

				<div id="logo_light" nameid="Logo/Light" component="true">
					<div nameid="Logo/Light" id="_bg__logo_light_ek1"></div>
					<div nameid="Text" id="text_ek1">
						Nibble
					</div>

					<!-- <div id="icon_ek3" nameid="Icon">
						<div nameid="Icon" id="_bg__icon_ek4"></div>
						<img src="skins/base.png" nameid="base" id="base" />

						<div id="meat" nameid="meat">
							<div nameid="meat" id="_bg__meat_ek1"></div>
							<img src="skins/meat_ek2.png" nameid="meat" id="meat_ek2" />
							<img src="skins/color.png" nameid="color" id="color" />
							<img src="skins/specular.png" nameid="specular" id="specular" />

						</div>

						<div id="cheese" nameid="cheese">
							<div nameid="cheese" id="_bg__cheese_ek1"></div>
							<img src="skins/cheese_ek2.png" nameid="cheese" id="cheese_ek2" />
							<img src="skins/color_ek1.png" nameid="color" id="color_ek1" />
							<img src="skins/specular_ek1.png" nameid="specular" id="specular_ek1" />

						</div>

						<div id="tomatos" nameid="tomatos">
							<div nameid="tomatos" id="_bg__tomatos_ek1"></div>
							<img src="skins/tomatos_ek2.png" nameid="tomatos" id="tomatos_ek2" />
							<img src="skins/color_ek2.png" nameid="color" id="color_ek2" />

						</div>

						<div id="bread" nameid="bread">
							<div nameid="bread" id="_bg__bread_ek1"></div>
							<img src="skins/bread_ek2.png" nameid="bread" id="bread_ek2" />
							<img src="skins/color_ek3.png" nameid="color" id="color_ek3" />

						</div>

						<div id="seeds" nameid="seeds">
							<div nameid="seeds" id="_bg__seeds_ek1"></div>
							<img src="skins/seeds_ek2.png" nameid="seeds" id="seeds_ek2" />
							<img src="skins/color_ek4.png" nameid="color" id="color_ek4" />
							<img src="skins/specular_ek2.png" nameid="specular" id="specular_ek2" />

						</div> -->

					</div>

				</div>

			</div>

		</div>
	</div>
</body>

</html>