{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'style/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'style/sidebar.css' %}" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
  <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap"
      rel="stylesheet"
    />
      {% block header_link %}{% endblock %}
      <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
  </head>
<body id="body-pd">
    <!-- sidebar -->
    {% include 'include/sidebar.html' %}
    <!-- end sidebar -->
    <!-- content -->
    {% include 'include/messaging.html' %}
    {% block content %}
    {% endblock %}


    <!-- JS -->
    <script src="{% static 'script/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'script/sidebar.js' %}"></script>
</body>
</html>