{% extends "base.html" %}
{% block content %}
     <div class="content-section">
        <h1>Categories</h1>
        {% for categ in categories %}
            <h3><a href={% url 'category_detail' pk=categ.pk %}>{{ categ.title }}</a></h3>
        {% endfor %}
    </div>
    <hr>
    <div class="content-section">
        <h1>restaurants</h1>
        {% for r in restaurant_list %}
            <div>
                <img src="{{ r.image.url }}" alt="" width="200px">
                <h3><a href={% url 'restaurant_detail' pk=r.pk %}>{{ r.name }}</a></h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}